<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">

	<!-- Main portfolio servlet -->
	<servlet>
	  <servlet-name>PortfolioServlet</servlet-name>
	  <servlet-class>com.gabloz.portfolio.web.servlet.PortfolioServlet</servlet-class>
	</servlet>
	<servlet-mapping>
	  <servlet-name>PortfolioServlet</servlet-name>
	  <url-pattern>/</url-pattern>
	</servlet-mapping> 
	
	<!-- Blob retriever servlet -->  
	<servlet>
	  <servlet-name>BlobRetrieverServlet</servlet-name>
	  <servlet-class>com.gabloz.portfolio.web.servlet.BlobRetrieverServlet</servlet-class>
	</servlet>
	<servlet-mapping>
	  <servlet-name>BlobRetrieverServlet</servlet-name>
	  <url-pattern>/getBlobForKey</url-pattern>
	</servlet-mapping>   
	
	<!-- Main image admin servlet -->  
	<servlet>
	  <servlet-name>MainImageServlet</servlet-name>
	  <servlet-class>com.gabloz.portfolio.web.servlet.MainImageServlet</servlet-class>
	</servlet>
	<servlet-mapping>
	  <servlet-name>MainImageServlet</servlet-name>
	  <url-pattern>/mainImg</url-pattern>
	</servlet-mapping>	

	<!-- Contact servlet -->  
	<servlet>
	  <servlet-name>ContactServlet</servlet-name>
	  <servlet-class>com.gabloz.portfolio.web.servlet.ContactServlet</servlet-class>
	</servlet>
	<servlet-mapping>
	  <servlet-name>ContactServlet</servlet-name>
	  <url-pattern>/contact</url-pattern>
	</servlet-mapping> 
	
	<!-- Blog servlet -->  
	<servlet>
	  <servlet-name>BlogServlet</servlet-name>
	  <servlet-class>com.gabloz.portfolio.web.servlet.BlogServlet</servlet-class>
	</servlet>
	<servlet-mapping>
	  <servlet-name>BlogServlet</servlet-name>
	  <url-pattern>/blog</url-pattern>
	</servlet-mapping> 	
	
	<!-- Employment servlet -->  
	<servlet>
	  <servlet-name>EmploymentServlet</servlet-name>
	  <servlet-class>com.gabloz.portfolio.web.servlet.EmploymentServlet</servlet-class>
	</servlet>
	<servlet-mapping>
	  <servlet-name>EmploymentServlet</servlet-name>
	  <url-pattern>/employment</url-pattern>
	</servlet-mapping> 	
	
	<!-- Description servlet -->  
	<servlet>
	  <servlet-name>DescriptionServlet</servlet-name>
	  <servlet-class>com.gabloz.description.web.servlet.DescriptionServlet</servlet-class>
	</servlet>
	<servlet-mapping>
	  <servlet-name>DescriptionServlet</servlet-name>
	  <url-pattern>/description</url-pattern>
	</servlet-mapping> 		

</web-app>
